* {
  margin: 0; 
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header_section {
  min-height: 100vh;
  width: 100%; 
  background-image: linear-gradient(rgba(4, 9, 30, 0.6),rgba(4, 9, 30, 0.6)),url(lecture_hall_picture.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex; 
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 95px; 
}


.navigation_links_div {
  flex: 1; 
  text-align: right;
}

.navigation_links_div ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;  
  position: relative;
}

.navigation_links_div ul li a {
  color: #fff; 
  text-decoration: none;
  font-size: 18px;
}

.navigation_links_div ul li::after {
  content: '';
  width: 0;
  height: 3px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navigation_links_div ul li:hover::after {
  width: 100%;
}

.text_box_div {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text_box_div h1 {
  font-size: 62px;
}

.text_box_div p{
  font-size: 18px;
  color: #fff;
  width: 68%;
  margin: auto;
  text-align: center;
  line-height: 210%;
}

.hamburger_button {
  display: none;
}

.closebutton {
  display: none;
}

@media(max-width: 700px){

  .hamburger_button {
    display:inline-block
  }

  .text_box_div h1{
    font-size: 35px;
  }

  .navigation_links_div {
    height: 91.7vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f44336;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .navigation_links_div a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .navigation_links_div a:hover {
    color: #f1f1f1;
  }
  
  .navigation_links_div .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .closebutton {
    position: absolute;
    display: block;
    right: 5%;
    top: 0;
    color: #fff;
    text-decoration: none;
  }

}
